{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LINNNN DE BLOGS</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'entries:blog-home'%}">LINNN'S BLOGS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href = "{% url 'entries:blog-home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if not user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login'%}">LOGIN</a>
                </li>
                {% endif %}
                {% if user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">LOGOUT</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        {% block content %} {% endblock %}
        <!-- Sidebar Widgets Column -->

            <!-- Search Widget
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
                    </div>
                </div>
            </div>
            -->
            <!-- Categories Widget -->

        <div class="col-md-4">
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Account information</h5>
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p><strong>Username:</strong>  {{user.username}}</p>
                        </li>
                        <li>
                            <p><strong>email:</strong>  {{user.email}}</p>
                        </li>
                        {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="link" href="{% url 'entries:create_entry' %}">Post blog</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-3 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Lin 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.8/highlight.min.js"></script>
<script src="https://cdn.bootcss.com/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
</script>
</body>

</html>
