{% extends 'entries/base.html' %}
{% load comments_extras %}
{% block content %}
  <!-- Page Content -->

  <div class=" col-lg-8 col-md-8">
      <!-- Post Content Column -->
      {% if messages %}
        {% for message in messages %}
       <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
        {% endfor %}
        {% endif %}
      <div class="col-lg-12 card mt-4 mb-4">
        <!-- Title -->
        <h1 class="mt-4">{{entry.entry_title}}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{entry.entry_author}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p >{{entry.entry_date}}</p>



        <!-- Post Content -->
        <div class="lead">{{entry.entry_text|safe}}</div>


      </div>

        <!-- Comments Form-->

        <div class="card mt-4 mb-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body ">
              {% show_comment_form entry %}
          </div>

        </div>
        <div class="card mt-4 mb-4">
                {% show_comments entry %}
            </div>
  </div>
{% endblock %}